.iconButton {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    &.contained {
        color: white;
        border-radius: 50%;
        background-color: var(--interactive);
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--active);
        }
    }

    &.icon {
        color: #c4c4c4;
        transition: color 0.3s;

        &:hover {
            color: var(--active);
        }
    }
}